html, body {
  height: 100%;
}

body {
  --color-primary: #377ae2;
}

body.dark {
  --bg-color: #232327;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

.container {
    padding-top: 10px;
}

#canvas {
  background-color: white;
  border: 1px solid var(--color-lightGrey);
  border-radius: 4px;
  width: 200px;
  height: 200px;
}

#content {
  max-width: 350px;
  resize: vertical;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
}

@media(max-height: 650px) {
  .footer {
    display: none;
  }
}

#github {
  color: var(--font-color);
}

.button {
  padding: 0.8em 1em;
}

.button.clear {
  padding: 0.8em;
}

#settings-modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

#settings-modal.open {
  visibility: visible;
  opacity: 1;
}

#settings-modal .card {
  min-width: 350px;
}