html, body {
  height: 100%;
}

body {
  --color-primary: #377ae2;
}

body.dark {
  --bg-color: #232327;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

.container {
    padding-top: 10px;
}

#content {
  max-width: 350px;
  resize: vertical;
}
